html.dark {
    --text-color               : #fff;
    --icon-color               : brightness(0) saturate(100%) invert(85%) sepia(100%) saturate(39%) hue-rotate(12deg) brightness(111%) contrast(100%);
    --header-bg-color          : #171C28;
    --header-sm-shadow: rgba(0, 0, 0, 0.20);
    --top-act-group-bg-color   : #292E39;
    --top-act-group-shadow     : rgba(0, 0, 0, 0.20);
    --top-act-separate-bg-color: #EDEDF6;
    --top-act-avatar           : rgba(0, 0, 0, 0.08);
    --body-bg-color            : #292E39;


    // @include abstracts.breakpoint(sm) {
    //     --header-sm-shadow: rgba(0, 0, 0, 0.20);
    // }
}